h1{
	font-size: 30px;
}
#main1{
	overflow: hidden;
}
.mainr{
	width: 100%;
	background-color: #fff;
	/*height: 600px;*/
}
.mainl .list{
	height: 50px;
	width: 100%;
	background-color: #fff;
	line-height: 50px;
}
.maintb{
	/*padding: 40px;*/
    position:relative;


}
.maintb .search{
	width: 600px;
	height: 30px;
}
.maintb .table{
	width: 100%;
}
/*.table thead {
	margin-bottom: 30px;
}*/
.table thead th{
	background-color: #708090;
	height: 40px;
	border-right:1px solid #fff;
	color:#fff;
}
.table td{
	text-align: center;
}
.table tbody tr{
	border:1px solid #ccc;
	height: 30px;
}
.table tbody tr:nth-child(2n){
    background-color: #eee;
    border:1px solid #ccc;
    height: 30px;
}
.table td{
	border:1px solid #ccc;
}
.add_shop{
	display: inline-block;
	width: 200px;
	height: 30px;
	line-height: 30px;
	background-color:#122b40;
	text-align: center;
	color:#fff;
	position:absolute;
    bottom:13px;

}
#stype{
	height: 25px;
}
#search{
	height: 20px;
}
#gosearch{
	width: 70px;
	height: 25px;
	background-color: skyblue;
}
.stockpage{
    text-align:center;
}

#fullbg { 
	background-color:gray; 
	left:0; 
	opacity:0.5; 
	position:absolute; 
	top:0; 
	z-index:3; 
	filter:alpha(opacity=50); 
	-moz-opacity:0.5; 
	-khtml-opacity:0.5; 
} 
#dialog { 
	background-color:#fff; 
	border:5px solid rgba(0,0,0, 0.4); 
	height:500px; 
	left:50%; 
	margin:-250px 0 0 -250px; 
	padding:1px; 
	position:fixed !important; /* 浮动对话框 */ 
	position:absolute; 
	top:50%; 
	width:500px; 
	z-index:5; 
	border-radius:5px; 
	display:none; 
} 
#dialog p { 
	margin:0 0 12px; 
	height:24px; 
	line-height:24px; 
	background:#CCCCCC; 
} 
#dialog p.close { 
	text-align:right; 
	padding-right:10px; 
} 
#dialog p.close a { 
	color:#fff; 
	text-decoration:none; 
} 
.editlist{
	padding:30px 100px;
	text-align: left;
}
.editlist span{
	display:inline-block;
	width: 120px;
	height: 40px;
}
.editlist input{
			/*display:inline-block;*/
	width: 150px;
	height: 25px;
	color:green;
	font-size: 18px
}
.saveedit,.addkeep{
	width: 280px;
	height: 35px;
	background-color:#122b40;
	text-align: center;
	color:#fff;
	font-size: 20px;
	border:1px solid #fff;
}